.col-centered{
float: none;
margin: 0 auto;
}
.text-centered {
  text-align:center;
}

#inputBar {
  margin-bottom:1%;
}

html {
background-color:#6d6e71;
}
body {
  color: #fff;
  background-color:#6d6e71;

}

.container {
margin-top:5%;
background-color:#6d6e71;
border: 1px solid #fff;
border-radius:20px;
}

.button {
border-radius:25px;
}

#messageBox {
  margin-top:2%;
  margin-bottom:2%;
  border:1px solid #fff;
  border-radius:20px;
}
